@import "../../utilities/colors";
@import "../../utilities/fonts";

.LandingPage {
	font-family: 'Montserrat', sans-serif;
	color: $dark;
	background-image: url('../../img/vector/bg.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0 100vh;
	background-clip: border-box;
	padding-bottom: 85px;
}

.Title {
	color: $accent;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 40px;
	text-align: left;
	margin-bottom: 24px;
}

.Subtitle {
	color: $dark;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	text-align: left;
}

.Row {
	margin-left: 85px;
	margin-right: 85px;
	margin-top: 500px;
}

.Column {
	max-width: 500px;
}

.RowSpacer {
	width: 35px;
}

.ColumnSpacer {
	height: 43px;
}

.ButtonSpacer {
	width: 23px;
}

.ColumnHead {
	height: 250px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.ColumnFoot {
	height: 250px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
}

.CardTitle {
	color: $white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 30px;
	text-align: left;
	margin-bottom: 30px;
}

.CardContent {
	color: $white;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	text-align: left;
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.CardImage {
	width: 50%;
	position: absolute;
	bottom: 0;
	right: 0;
}