@import "../../utilities/_colors";
@import "../../utilities/_fonts";


.LandingTitle {
	z-index: 2;
	text-align: center;
	font-family: $Poppins;
	color: $primary;
	font-size: 35px;
	font-weight: 700;
	margin-bottom: 100px;
	padding: 20px;
	border-radius: 20px;
	animation: filter 0.3s ease 0s;
	// filter: drop-shadow(0px 0px 8px #BFC0D388);
	// background-color: $primary-light;
	// text-shadow: 0 0 10px #ffffff88;
}
