@import "../../../utilities/_colors";
@import "../../../utilities/_fonts";

.BuySellButton {
	background: $white;
	border-radius: 15px;
	color: $black;
	font-size: 20px;
	font-weight: 700;
	font-family: $Poppins;
	width: 183px;
	height: 60px;
	cursor: pointer;
	transition: all 0.3s ease 0s;
	display: flex;
	justify-content: center;
	align-items: center;
}

.BuySellButton:hover {
	background: $chinese-silver;
}

.Selected {
	background: $primary;
	width: 137px;
	height: 45px;
	border-radius: 12px;
}

.Selected:hover {
	background: $count-bg;
}