@import "../../utilities/colors";
@import "../../utilities/fonts";

.Button {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	width: fit-content;
	color: $white;
	background: $primary;
	transition: background 0.3s ease 0s;
	border-radius: 5px;
	display: inline-block;
	white-space: nowrap;
}

.Button:hover {
	background: $primary-darker;
}