@import "../../utilities/colors";
@import "../../utilities/fonts";

.Button {
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	width: fit-content;
	color: $white;
	background: $primary;
	box-sizing: border-box;
	border: 2px solid $primary;
	transition: background 0.3s ease 0s;
	border-radius: 5px;
	display: inline-block;
	white-space: nowrap;
	padding: 10px 15px 10px 15px;
}

.Button:hover {
	color: $primary;
	background: $transparent;
}