@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.DashboardPage {
	font-family: $Poppins;
	color: $dark;
	background-color: $dashboard-bg;
	min-height: 100vh;

	// background-image: url('../../img/vector/bg.svg');
	// background-repeat: no-repeat;
	// background-size: 100%;
	// background-position: 0 100vh;
	// background-clip: border-box;
	// overflow-x: hidden;
	// padding-bottom: 85px;
}

.Container {
	width: 100%;
	padding-top: 71px;
	padding-bottom: 71px;
	padding-left: 331px;
	padding-right: 331px;
	box-sizing: border-box;
}

.Hello {
	font-family: $Poppins;
	font-size: 35px;
	font-weight: 600;
	color: $primary;
}

.HelloName {
	font-weight: 500;
	color: $dark;
}

.Spacer {
	height: 36px;
}

.ColSpacer {
	width: 36px;
}

.EditButton {
	font-size: 16px;
}

.RowSpacer {
	height: 43px;
}

.Bold {
	color: $dark-grey;
	font-weight: 600;
	font-size: 20px;
}

.Description {
	color: $grey;
	font-weight: 600;
	font-size: 20px;
}