$primary: #724FFF;
$primary-light: #F5F2FE;
$primary-darker: #02924d;
$accent: #FC6E86;
$card-bg: #FAF8FF;
$white: #ffffff;
$dark: #181818;
$light: #FCFCFE;
$border: #BFC0D3;
$black: #000000;
$grey: #797688;
$light-grey: #eeeeee;
$dark-grey: #444053;
$dashboard-bg: #f5f5f5;
$count-bg: #623AFF;
$green: #0dba60;
$red: #e20e10;
$light-purple: #e0d9fd;
$toggle-bg: #c4c4c4;
$transparent: rgb(0, 0, 0, 0);
$light-green: #A6D71D;
$light-blue: #5AA4D2;
$light-red: #d74e1d;
$lavender-indigo: #724FFF;
$marjorelle-blue: #2E57EA;
$orange-soda: #F06642;
$lavender-mist: #F1ECFF;
$gunmetal: #272727;
$outer-space: #454545;
$onyx: #3C3B3B;
$ghost-white: #f3f1f7;
$chinese-silver: #cbcacd;
$light-pastel-purple: #B2A4E7;