$primary: #3100F5;
$primary-light: #F5F2FE;
$primary-darker: #02924d;
$accent: #FC6E86;
$card-bg: #FAF8FF;
$white: #ffffff;
$dark: #363636;
$light: #FCFCFE;
$border: #BFC0D3;
$black: #000000;
$grey: #797688;
$light-grey: #eeeeee;
$dark-grey: #444053;
$dashboard-bg: #f5f5f5;
$green: #0dba60;
$red: #e20e10;
$light-purple: #e0d9fd;
$transparent: rgb(0, 0, 0, 0);