$primary: #3100F5;
$primary-light: #F5F2FE;
$primary-darker: #02924d;
$accent: #FC6E86;
$card-bg: #8FBBA6;
$white: #ffffff;
$dark: #363636;
$light: #FCFCFE;
$border: #BFC0D3;
$black: #000000;
$grey: #797688;
$light-grey: #eeeeee;
$transparent: rgb(0, 0, 0, 0);