@import "./_colors";

:export {
	primary: $primary;
	primaryLight: $primary-light;
	primaryDarker: $primary-darker;
	accent: $accent;
	cardBg: $card-bg;
	white: $white;
	dark: $dark;
	light: $light;
	border: $border;
	black: $black;
	grey: $grey;
	lightGrey: $light-grey;
	darkGrey: $dark-grey;
	dashboardBg: $dashboard-bg;
	countBg: $count-bg;
	green: $green;
	red: $red;
	lightPurple: $light-purple;
	toggleBg: $toggle-bg;
	transparent: $transparent;
	lightGreen: $light-green;
	lightBlue: $light-blue;
	lightRed: $light-red;
	lavenderIndigo: $lavender-indigo;
	marjorelleBlue: $marjorelle-blue;
	orangeSoda: $orange-soda;
	lavenderMist: $lavender-mist;
	gunmetal: $gunmetal;
	outerSpace: $outer-space;
	onyx: $onyx;
	ghostWhite: $ghost-white;
	chineseSilver: $chinese-silver;
	lightPastelPurple: $light-pastel-purple;
	gray2: $gray2;
	fordGunmetal: $ford-gunmetal;
	cottonwoodGray: $cottonwood-gray;
	violet: $violet;
}