@import "./_colors";

:export {
	primary: $primary;
	primaryLight: $primary-light;
	primaryDarker: $primary-darker;
	accent: $accent;
	cardBg: $card-bg;
	white: $white;
	dark: $dark;
	light: $light;
	border: $border;
	black: $black;
	grey: $grey;
	lightGrey: $light-grey;
	darkGrey: $dark-grey;
	transparent: $transparent;
	dashboardBg: $dashboard-bg;
}