@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.SignUpPage {
	height: 100vh;
}

.SignUpWrapper {
	display: flex;
	justify-content: flex-start;
	margin-top: 20px;
	height: 100%;
    flex-direction: column;
    align-items: center;
}

.Terms {
	margin-top: 23px;
	font-family: $Poppins;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: $grey;
	display: flex;
}

.Link {
	text-decoration: underline;
	color: $grey;
}

.Link:active {
	filter: brightness(0.6);
}