@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.Card {
	width: 472px;
	height: 502px;
	border-radius: 20px;
	background-color: $primary-light;
	padding: 68px 46px;
	box-sizing: border-box;
	transition: 0.3s;
	display: flex;
	flex-direction: column;
	// filter: drop-shadow(0px 4px 12px #BFC0D366);
}

.Card:hover {
	filter: drop-shadow(0px 4px 12px #BFC0D3);
	background-color: $card-bg;
}