@import "../../../utilities/_colors";
@import "../../../utilities/_fonts";

.ResultStep {
	font-family: $Poppins;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 30vh;
	flex-direction: column;
}

.Strategy {
	font-family: $Poppins;
	font-size: 16px;
	font-weight: 500;
	color: $white;
}

.Divider {
	width: 25px;
}