@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.EditorPage {
	font-family: $Poppins;
	min-height: 100vh;
	color: $white;
	background-color: $dark;

	// background-image: url('../../img/vector/bg.svg');
	// background-repeat: no-repeat;
	// background-size: 100%;
	// background-position: 0 100vh;
	// background-clip: border-box;
	// overflow-x: hidden;
	// padding-bottom: 85px;
}

.ModalTitle {
	font-size: 20px;
	font-family: $Poppins;
	color: $white;
}


.ModalContent {
	margin-top: 24px;
	margin-bottom: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.SliderLabel {
	font-size: 20px;
	font-family: $Poppins;
	color: $white;
}

.SliderContainer {
	width: fit-content;
	margin-left: 28px;
	margin-right: 28px;
}

.Center {
	width: 100%;
	display: flex;
	justify-content: center;
}