@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.EditorPage {
	font-family: $Poppins;
	min-height: 100vh;
	color: $white;
	background-color: $dark;

	// background-image: url('../../img/vector/bg.svg');
	// background-repeat: no-repeat;
	// background-size: 100%;
	// background-position: 0 100vh;
	// background-clip: border-box;
	// overflow-x: hidden;
	// padding-bottom: 85px;
}
