@import "../../utilities/_colors";
@import "../../utilities/_fonts";


.BacktestPage {
	font-family: $Poppins;
	min-height: 100vh;
	color: $white;
	background-color: $dark;
}

.Container {
	width: 100%;
	padding-top: 71px;
	padding-bottom: 71px;
	padding-left: 190px;
	padding-right: 190px;
	box-sizing: border-box;
}

.ProjectBox {
	width: 80%;
	margin: auto;
	border: 2px solid $white;
	border-radius: 30px;
	padding: 35px 70px 35px 70px;
	box-sizing: border-box;
}

.ProjectName {
	font-size: 28px;
	font-weight: 700;
	margin-left: 50px;
}
