@import "../../../utilities/_colors";
@import "../../../utilities/_fonts";

.InvertedButton {
	font-family: $Poppins;
	font-weight: 600;
	font-size: 14px;
	cursor: pointer;
	width: fit-content;
	color: $primary;
	background: $transparent;
	box-sizing: border-box;
	border: 2px solid $primary;
	transition: background 0.3s ease 0s;
	border-radius: 5px;
	display: inline-block;
	white-space: nowrap;
	padding: 10px 15px 10px 15px;
}

.InvertedButton:hover {
	color: $white;	
	background: $primary;
}

.Dark {
	color: $dark;
	border-color: $dark;
}

.Dark:hover {
	color: $white;
	background-color: $dark;
}

.White {
	color: $white;
	border-color: $white;
}

.White:hover {
	color: $dark;
	background-color: $white;
}

.Big {
	border-radius: 20px;
	padding: 18px 42px;
	font-size: 16px;
}