@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.StepContainer {
	font-family: $Poppins;
	color: $dark;
	border: 2px solid $white;
	border-radius: 30px;
	width: 50vw;
	height: 75vh;
	box-sizing: border-box;
	margin-left: 5vw;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 75px;
	padding-right: 75px;
	position: relative;
}

.Number {
	width: 71px;
	height: 71px;
	border-radius: 71px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $primary;
	color: $white;
	font-family: $Poppins;
	font-size: 22px;
	font-weight: 600;
}

.Title {
	color: $white;
	margin-left: 40px;
	font-weight: 700px;
	font-size: 28px;
}