@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.Header {
	position: sticky;
	top: 0;
	background-color: $white;
	z-index: 100;
}

.HeaderContents {
	align-items: center;
	margin: 0px 16vw 0px 16vw;
	transition: margin 0.1s ease 0s;

	padding: 12px;
	display: flex;
	flex-direction: row;
}

.HeaderSection {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.LogoWrapper {
	display: flex;
	justify-content: flex-start;
	margin-right: 10px;
}

.LinkBarWrapper {
	flex: 4 1 0%;
	justify-content: center;
}

.ButtonWrapper {
	margin: 0px 10px;
}

.LogoSpacer {
	width: 4vw;
}