@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.Header {
	position: sticky;
	top: 0;
	background-color: $dark;
	z-index: 100;
	width: 100vw;
}

.HeaderContents {
	align-items: center;
	margin: 0px 16vw 0px 16vw;
	transition: margin 0.1s ease 0s;

	padding: 12px;
	display: flex;
	flex-direction: row;
}

.HeaderSection {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
}

.LogoWrapper {
	display: flex;
	justify-content: flex-start;
	margin-right: 10px;
}

.LinkBarWrapper {
	flex: 4 1 0%;
	justify-content: center;
}

.ButtonWrapper {
	margin: 0px 10px;
}

.LogoSpacer {
	width: 4vw;
}

.DownArrow {
	margin-left: 8px;
	fill: $white;
}

.UserProfile {
	height: 50px;
	width: 50px;
	text-align: center;
	background-color: $primary;
	color: $white;
	border-radius: 10px;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

.DarkMode {
	display: flex;
	margin-left: 20px;
}

.DarkMode:hover {
	cursor: pointer;
}