@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.SignInLink {
	font-family: $Poppins, sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: $dark;
	transition: color 0.3s ease 0s;
	cursor: pointer;
	margin: 10px;
}

.SignInLink:hover {
	color: $primary;
}

.SignInLinkDark {
	font-family: $Poppins, sans-serif;
	font-weight: 600;
	font-size: 16px;
	color: $white;
	transition: color 0.3s ease 0s;
	cursor: pointer;
	margin: 10px;
	filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0));
}


.SignInLinkDark:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: -8px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: $white;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  border-radius: 2px;
  width: 0;
}

.SignInLinkDark:hover:after { 
  width: 100%; 
  left: 0; 
}