@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.LandingPage {
	font-family: $Poppins;
	color: $dark;
	// background-image: url('../../img/vector/bg.svg');
	// background-repeat: no-repeat;
	// background-size: 100%;
	// background-position: 0 100vh;
	// background-clip: border-box;
	// overflow-x: hidden;
	// padding-bottom: 85px;
}

.Title {
	color: $accent;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 40px;
	text-align: left;
	margin-bottom: 24px;
}

.Subtitle {
	color: $dark;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	text-align: left;
}

.Row {
	// margin-left: 85px;
	// margin-right: 85px;
	// z-index: 2;
	margin-top: -50px;
	// background: linear-gradient(0deg, transparent, #FAF8FF);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Column {
	max-width: 500px;
	z-index: 2;
}

.RowSpacer {
	width: 35px;
}

.ColumnSpacer {
	height: 43px;
}

.ButtonSpacer {
	width: 23px;
}

.ColumnHead {
	height: 250px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.ColumnFoot {
	height: 250px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
}

.CardTitle {
	color: $primary;
	font-family: $Poppins;
	font-weight: 600;
	font-size: 30px;
	text-align: left;
	margin-bottom: 30px;
	width: 242px;
}

.CardContent {
	color: $dark-grey;
	font-family: $Poppins;
	font-weight: 600;
	font-size: 16px;
	text-align: left;
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.CardText {
	width: 242px;
	z-index: 1;
}

.LearnMore {
	position: absolute;
	bottom: -8px;
	font-size: 12px;
	color: $dark;
	font-family: $Poppins;
}

.HandsPng {
	width: 100%;
	position: absolute;
	bottom: -100px;
	right: -60px;
}

.HandPng {
	width: 66%;
	position: absolute;
	bottom: -68px;
	right: -50px;
}

.BotPng {
	width: 80%;
	position: absolute;
	bottom: -50px;
	right: -100px;
}

.WalkPng {
	width: 66%;
	position: absolute;
	bottom: -50px;
	right: -50px;
}
