@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.LandingPage {
	font-family: $Poppins;
	color: $dark;
	// background-image: url('../../img/vector/bg.svg');
	// background-repeat: no-repeat;
	// background-size: 100%;
	// background-position: 0 100vh;
	// background-clip: border-box;
	// overflow-x: hidden;
	// padding-bottom: 85px;
}

.Title {
	color: $accent;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 40px;
	text-align: left;
	margin-bottom: 24px;
}

.Subtitle {
	color: $dark;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 15px;
	text-align: left;
}

.Row {
	// margin-left: 85px;
	// margin-right: 85px;
	// z-index: 2;
	margin-top: 50px;
	margin-bottom: 50px;
	// background: linear-gradient(0deg, transparent, #FAF8FF);
	display: flex;
	align-items: center;
	flex-direction: column;
}

.Column {
	z-index: 2;
}

.RowSpacer {
	width: 23px;
}

.ColumnSpacer {
	height: 18px;
}

.ButtonSpacer {
	width: 23px;
}

.ColumnHead {
	height: 250px;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
}

.ColumnFoot {
	height: 250px;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	flex-direction: column;
}

.CardTitleLight {
	color: $lavender-mist;
	font-family: $Poppins;
	font-weight: 600;
	font-size: 28px;
	text-align: left;
	margin-bottom: 30px;
	width: 242px;
}

.CardTitleDark {
	color: $marjorelle-blue;
	font-family: $Poppins;
	font-weight: 600;
	font-size: 28px;
	text-align: left;
	margin-bottom: 30px;
	width: 242px;
}

.CardContentLight {
	color: $lavender-mist;
	font-family: $Poppins;
	font-weight: 600;
	font-size: 14px;
	text-align: left;
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.CardContentDark {
	color: $marjorelle-blue;
	font-family: $Poppins;
	font-weight: 600;
	font-size: 14px;
	text-align: left;
	position: relative;
	flex: 1;
	display: flex;
	flex-direction: column;
}

.CardText {
	width: 242px;
	z-index: 1;
}

.LearnMoreLight {
	position: absolute;
	bottom: -8px;
	font-size: 12px;
	color: $lavender-mist;
	font-family: $Poppins;
}

.LearnMoreDark {
	position: absolute;
	bottom: -8px;
	font-size: 12px;
	color: $marjorelle-blue;
	font-family: $Poppins;
}

@keyframes bounce {
  from {
    margin-left: 0px;
  }

  to {
    margin-left: 4px;
  }
}


.Card:hover .Caret {
	animation-duration: 0.5s;
	animation-name: bounce;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-fill-mode: both;

}


.Card:hover {
	cursor: pointer;
}

.HandsPng {
	width: 80%;
	position: absolute;
	bottom: -100px;
	right: -70px;
}

.HandPng {
	width: 55%;
	position: absolute;
	bottom: -50px;
	right: -80px;
}

.BotPng {
	width: 70%;
	position: absolute;
	bottom: -50px;
	right: -100px;
}

.WalkPng {
	width: 60%;
	position: absolute;
	bottom: -50px;
	right: -70px;
}
