@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.StepName {
	color: $dark;
	font-family: $Poppins;
	font-size: 16px;
	text-align: right;
	font-weight: 500;
	margin-right: 48px;
}

.Selected {
	color: $dark;
	font-family: $Poppins;
	font-size: 16px;
	text-align: right;
	font-weight: 800;
	margin-right: 48px;
}

.Clickable {
	cursor: pointer;
	width: 100%;
}

.Line {
	position: absolute;
	right: 0px;
	width: 30px;
	box-sizing: border-box;
	height: 10vh;
	border-left: 2px solid $dark;
	margin-top: 6px;
	margin-bottom: 6px;
}

.SmallCircle {
	width: 20px;
	min-height: 20px;
	box-sizing: border-box;
	border: 2px solid $dark;
	border-radius: 20px;
}

.LargeCircle {
	width: 57px;
	min-height: 57px;
	box-sizing: border-box;
	border: 2px solid $dark;
	border-radius: 57px;
}

.CircleContainer {
	width: 57px;
	display: flex;
	align-items: center;
	justify-content: center;
}


.CheckedCircle {
	width: 57px;
	min-height: 57px;
	box-sizing: border-box;
	background-color: $primary;
	border-radius: 57px;
	display: flex;
	align-items: center;
	justify-content: center;
}