@import "../../../utilities/_colors";
@import "../../../utilities/_fonts";

.LogInButton {
	font-family: $Poppins, sans-serif;
	font-weight: 600;
	font-size: 16px;
	cursor: pointer;
	width: fit-content;
	color: $white;
	background: $primary;
	box-sizing: border-box;
	border: 2px solid $primary;
	transition: background 0.3s ease 0s;
	border-radius: 10px;
	display: inline-block;
	white-space: nowrap;
	padding: 16px 48px;
}

.LogInButton:hover {
	color: $primary;
	background: $transparent;
}