@import "../../utilities/_colors";
@import "../../utilities/_fonts";


.ProjectPage {
	font-family: $Poppins;
	min-height: 100vh;
	color: $white;
	background-color: $dark;
}

.Container {
	width: 100%;
	padding-top: 71px;
	padding-bottom: 71px;
	padding-left: 190px;
	padding-right: 190px;
	box-sizing: border-box;
}

.ProjectBox {
	width: 100%;
	border: 2px solid $white;
	border-radius: 30px;
	padding: 35px 70px 35px 70px;
	box-sizing: border-box;
}

.ProjectOverview {
	font-family: $Poppins;
	font-size: 35px;
	font-weight: 400;
	background-color: $gunmetal;
	color: $white;
	width: 100%;
	padding: 40px;
	padding-right: 75px;
	border-radius: 30px;
	box-sizing: border-box;
	border-bottom: 2px solid $dark;
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.ProjectName {
	font-size: 28px;
	font-weight: 700;
	margin-left: 50px;
}

.EditButton {
	color: $white;
	margin-left: 8px;
}

.EditButton:hover {
	cursor: pointer;
	color: $chinese-silver;
	transition: all 0.3s ease 0s;
}

.ProjectNameInput {
	font-family: $Poppins;
	margin: 0px;
	padding: 0px;
	border: none;
	border-bottom: 2px solid $white;
	outline: none;
	min-width: 6em;
	width: fit-content;
	color: $white;
	background-color: $dark;
	font-size: 28px;
	font-weight: 700;
}

.Hidden {
	opacity: 0;
	position: absolute;
	z-index: -1;
	white-space: pre;
}

.Shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.Label {
	font-size: 16px;
	font-weight: 700;
	width: 100%;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex: 1;
	margin-right: 24px;
}

.Wrapper {
	width: 192px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.EventButtonWrapperLeft {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 16px;
	margin-bottom: 8px;
	margin-top: 8px;
}

.EventButtonWrapperRight {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 8px;
	margin-top: 8px;
}

.RightSide {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex: 2;
}

.NumberInput {
	font-family: $Poppins;
	font-size: 16px;
	font-weight: 500;
	color: $white;
	background-color: $dark;
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 19px;
	padding-bottom: 19px;
	box-sizing: border-box;
	border: 1px solid $white;
	width: 192px;
	transition: all 0.3s ease;
	border-radius: 8px;
	overflow: hidden;
	caret-color: $white;
}

.NumberInput:focus-visible {
	outline: none;
	border-radius: 0px;
}

/* Chrome, Safari, Edge, Opera */
.NumberInput::-webkit-outer-spin-button,
.NumberInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.NumberInput[type=number] {
  -moz-appearance: textfield;
}

.Symbol {
	font-family: $Poppins;
	font-size: 16px;
	font-weight: 500;
	color: $white;
	margin-left: 16px;
}


.Divider {
	width: 16px;
}


.SelectInput {
	font-family: $Poppins;
	font-size: 16px;
	font-weight: 500;
	color: $white;
	background-color: $dark;
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 19px;
	padding-bottom: 19px;
	box-sizing: border-box;
	border: 1px solid $white;
	width: 192px;
	margin-left: 16px;
	margin-right: 16px;
	border-radius: 8px;
}

.SelectInput:focus-visible {
	outline: none;
}