@import "../../utilities/_colors";
@import "../../utilities/_fonts";

.SignInPage {}

.SignInWrapper {
	display: flex;
	justify-content: flex-start;
	padding-top: 20px;
	height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: $white;
    min-height: calc(100vh - 90px);
    box-sizing: border-box;
}

.SignInWrapperDark {
	display: flex;
	justify-content: flex-start;
	padding-top: 20px;
	padding-bottom: 20px;
	height: 100%;
    flex-direction: column;
    align-items: center;
    background-color: $dark;
    min-height: calc(100vh - 90px);
    box-sizing: border-box;
}