@import "../../../utilities/_colors";
@import "../../../utilities/_fonts";

.EventButton {
	background-color: $outer-space;
	color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 16px;
	font-family: $Poppins;
	font-weight: 600;
	border-radius: 10px;
	width: 250px;
	height: 50px;
	transition: all 0.3s ease 0s;
	position: relative;
}

.EventButton:hover {
	cursor: pointer;
	width: 275px;
	height: 55px;
	border-radius: 11px;
}

.Selected {
	background-color: $white;
	color: $dark;
}

.Selected:hover {
	color: $outer-space;
	width: 250px;
	height: 50px;
	border-radius: 10px;
}


.EditButton {
	color: $dark;
	position: absolute;
	right: 12px;
}

.EditButton:hover {
	color: $outer-space;
	position: absolute;
	transition: all 0.3s ease 0s;
}